<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather Sreyas Application</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="POST">
          <input name="siege_player" type="text" class="ghost-input" placeholder="Enter a Player name" required>
          <input type="submit" class="ghost-button" value="Get Details">
        </form>
        <% if(player !== null){ %>
          <p><%= player %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>