<html>
    <head>

    </head>
    <body>
        <div>
            <% if(player !== null){ %>
                <p><%= player %></p>
              <% } %>
            
              <% if(error !== null){ %>
                <p><%= error %></p>
              <% } %>
        </div>
    </body>
</html>
